In [311]:
import pandas as pd
import numpy as np

In [486]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

### Data Assess For Patients dataset
- Missing value found address, city, state, zipcode, country, contact.
- Duplicated value in John Doe
- some zip code are used in 4 digits
- Some state name are used in accronym
- Email and phone number in same column
- minimum weight in kg instead of ibs
- different phone number type
- minimum height will show error/outliar( 27 instead of 72)
- zip-code isnot float or not a string
- remove '+' from phone number
- state and country convert into category

In [145]:
#patients

In [387]:
patient_1 = patients[~((patients['address'].duplicated()) & patients['address'].notnull())]

In [152]:
#patient_1[patient_1.surname == 'Jakobsen']

In [61]:
#patient_1[patient_1['address'].isna()]

In [63]:
#patient_1['address']=patient_1['address'].dropna()

In [62]:
#patient_1[patient_1['address'].duplicated()]

In [388]:
patient_1['zip_code']=patient_1['zip_code'].astype(str).str[:-2].str.pad(5,fillchar='0')

C:\Users\Mamun\AppData\Local\Temp\ipykernel_11660\2845934795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patient_1['zip_code']=patient_1['zip_code'].astype(str).str[:-2].str.pad(5,fillchar='0')

In [389]:
state_abbrev = {'California': 'CA',
                'New York': 'NY',
                'Illinois': 'IL',
                'Florida': 'FL',
                'Nebraska': 'NE'}
patient_1['state']=patient_1['state'].replace(state_abbrev)

C:\Users\Mamun\AppData\Local\Temp\ipykernel_11660\959029840.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patient_1['state']=patient_1['state'].replace(state_abbrev)

In [390]:
patient_1.state.unique()

array(['CA', 'IL', 'NE', 'NJ', 'AL', 'FL', 'NV', 'MO', 'NY', 'MI', 'TN',
       'VA', 'OK', 'GA', 'MT', 'MA', 'NM', 'LA', 'PA', 'CO', 'ME', 'WI',
       'SD', 'MN', 'WY', 'OH', 'IA', 'NC', 'IN', 'CT', 'KY', 'DE', 'MD',
       'AZ', 'TX', 'AK', 'ND', 'KS', 'MS', 'WA', 'SC', 'WV', 'RI', 'NH',
       'OR', nan, 'VT', 'ID', 'DC', 'AR'], dtype=object)

In [144]:
#patient_1

In [391]:
patient_1.loc[patient_1['surname']=='Zaitseva','weight'] = patient_1[patient_1['surname']=='Zaitseva'].weight* 2.20462

In [143]:
#patient_1['weight'].sort_values(ascending=True)

In [245]:
#patient_1

In [181]:
#patient_1['contact'].str.extract(r'([a-zA-Z._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})')

In [392]:
patient_1['email']=patient_1['contact'].str.extract(r'[0-9-0-9]*([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]+)')

C:\Users\Mamun\AppData\Local\Temp\ipykernel_11660\3535026338.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patient_1['email']=patient_1['contact'].str.extract(r'[0-9-0-9]*([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z]+)')

In [244]:
#patient_1['email']=patient_1['contact'].str.extract('([a-zA-Z]+@[a-zA-Z]\w+[.]+[a-zA-Z]+)')

In [393]:
patient_1['Phone_number']=patient_1['contact'].str.extract('((?:\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4})', expand=True)

C:\Users\Mamun\AppData\Local\Temp\ipykernel_11660\1450330558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patient_1['Phone_number']=patient_1['contact'].str.extract('((?:\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4})', expand=True)

In [394]:
patient_1['height']=patient_1['height'].replace(27,72)

C:\Users\Mamun\AppData\Local\Temp\ipykernel_11660\2112550509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patient_1['height']=patient_1['height'].replace(27,72)

In [395]:
patient_1['height'].min()

59

In [396]:
patient_1['zip_code'] = patient_1['zip_code'].replace('0000n', np.nan)

C:\Users\Mamun\AppData\Local\Temp\ipykernel_11660\255926393.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patient_1['zip_code'] = patient_1['zip_code'].replace('0000n', np.nan)

In [397]:
df = patient_1.copy()

In [373]:
#patient_1[patient_1['zip_code'].isna()]

In [403]:
def convert_int(value):
    try:
        value['zip_code']=value['zip_code'].astype(int)
    except ValueError:
        value['zip_code']=pd.to_numeric(value['zip_code'], errors='coerce')

In [410]:
#df

In [408]:
df['birthdate']=pd.to_datetime(df['birthdate'], errors='coerce')

In [414]:
#patient_1.describe()

In [418]:
df.drop(columns='contact',inplace=True)

In [454]:
df['Phone_number'].str.replace(r"[\+\-\(\)\s]",'',regex=True)

0       9517199170
1      12175693204
2       4023636804
3      17326368246
4       3345157487
          ...
497    19189849171
498     2074770579
499     9282844492
500     8162236007
501     3604432060
Name: Phone_number, Length: 495, dtype: object

In [455]:
df['Phone_number']= df['Phone_number'].str.replace(r"[\+\-\(\)\s]",'',regex=True).str.pad(11, fillchar='1')

In [552]:
df.assigned_sex = df.assigned_sex.astype('category')
df.state = df.state.astype('category')

In [553]:
patient= df.copy()

In [556]:
#patient.info()

### Data Assess For tratment dataset
- Lowercase given name and surname
- wrong informations are hba1c_change
- split auralin and novodra split into '-'
- then remove 'u' from split dataset
- Null data will be instead of '-' into auralin and novodra

In [535]:
treatments.head(2)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,Veronika,Jindrová,41u - 48u,-,7.63,7.20,0.43
1,Elliot,Richardson,-,40u - 45u,7.56,7.09,0.47

In [536]:
treatments['given_name']=treatments['given_name'].str.title()
treatments['surname']=treatments['surname'].str.title()

In [537]:
treatments['hba1c_change']=treatments['hba1c_start']-treatments['hba1c_end']

In [538]:
treatments_clean = pd.melt(treatments,id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'],
                           var_name='treatment',value_name='dose')

In [539]:
#treatments.iloc[:,:-1]
treatments_clean[['start_dose','end_dose']]=treatments_clean['dose'].str.split('-',expand=True)

In [540]:
treatments_clean['start_dose']= treatments_clean['start_dose'].str.replace('u','')
treatments_clean['end_dose']= treatments_clean['end_dose'].str.replace('u','')

In [541]:
treatments_clean['start_dose'] = pd.to_numeric(treatments_clean['start_dose'], errors='coerce')
treatments_clean['end_dose'] = pd.to_numeric(treatments_clean['end_dose'], errors='coerce')

In [542]:
treatments_clean.drop(columns='dose',inplace=True)

In [530]:
#treatments_clean

In [469]:
#treatments[['start_novodra','end_novodra']]=treatments['novodra'].str.split('-',expand=True)
#treatments[['start_auralin','end_auralin']]=treatments['auralin'].str.split('-',expand=True)
#treatments['start_novodra']= treatments['start_novodra'].str.replace('u','')
#treatments['end_novodra']= treatments['end_novodra'].str.replace('u','')
#treatments['start_auralin']= treatments['start_auralin'].str.replace('u','')
#treatments['end_auralin']= treatments['end_auralin'].str.replace('u','')
#treatments.replace('', np.nan, inplace=True)
#treatments.drop(columns=['auralin','novodra'],inplace=True)

## Data Assess for adverse_reactions dataset
- set the name given_name and surname at title

In [543]:
adverse_reactions['given_name']=adverse_reactions['given_name'].str.title()
adverse_reactions['surname']=adverse_reactions['surname'].str.title()

#### All data merge to create a combine dataset

In [544]:
all_clean = pd.merge(treatments_clean, adverse_reactions, 
                            on=['given_name', 'surname'], how='left')

In [551]:
#all_clean

In [548]:
id_names = df[['patient_id', 'given_name', 'surname']]
treatments_clean = pd.merge(all_clean, id_names, on=['given_name', 'surname'])
treatments_clean = treatments_clean.drop(['given_name', 'surname'], axis=1)
treatments_clean

In [550]:
#id_names.given_name = id_names.given_name.str.title()
#id_names.surname = id_names.surname.str.title()

,hba1c_start,hba1c_end,hba1c_change,treatment,start_dose,end_dose,adverse_reaction,patient_id
0,7.63,7.20,0.43,auralin,41.0,48.0,NaN,225
1,7.56,7.09,0.47,auralin,NaN,NaN,hypoglycemia,94
2,7.68,7.25,0.43,auralin,NaN,NaN,NaN,64
3,7.97,7.62,0.35,auralin,33.0,36.0,NaN,242
4,7.78,7.46,0.32,auralin,NaN,NaN,NaN,57
...,...,...,...,...,...,...,...,...
543,7.93,7.73,0.20,novodra,NaN,NaN,NaN,197
544,7.90,7.58,0.32,novodra,49.0,49.0,NaN,141
545,9.04,8.67,0.37,novodra,NaN,NaN,NaN,308
546,7.64,7.28,0.36,novodra,NaN,NaN,NaN,388
547,8.00,7.64,0.36,novodra,NaN,NaN,NaN,22